@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

.typo-main-title {
  color: black;
  font-family: $font-title;
  font-size: 1.875rem;
  font-weight: 400;
}
