@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// ---- Faire dispraitre le loader
@keyframes hide-loader {
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

// ---- Animation du loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ---- Animation des cards plates
@keyframes swipe-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
