%check-plate-animation {
  font-family: 'FontAwesome';
  content: '\f058';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: $color-tertiary;
}
