// Main

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Explore

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5rem 1rem;
  gap: 1.69rem;
  background-color: $color-surface-container;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    text-align: center;
    padding: 0 3.375rem;
  }

  &__p {
    font-size: $fontSize-paragraph;
    font-weight: 300;
    text-align: center;
  }
}

// Functioning

.functioning {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.25rem 3rem 2rem;
  gap: 1.62rem;
  @include desktop-only {
    padding: 3.12rem 11.25rem;
  }
}

.instruction {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  width: 100%;

  @include desktop-only {
    flex-direction: row;
    justify-content: space-between;
    gap: 2.28rem;
  }

  &__card {
    position: relative;
    display: flex;
    gap: 1.44rem;
    align-items: center;
    padding: 1.65rem 0 1.65rem 1.5rem;
    border-radius: 1.25rem;
    background-color: $color-surface-container;
    box-shadow: $shadow-instruction;
    margin-bottom: 1.25rem;
    @include desktop-only {
      padding: 1.79rem 2.38rem;
      width: 100%;
    }

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1rem;

      color: white;
      font-size: 0.88638rem;
      font-weight: 500;

      left: -0.8rem;
      transform-origin: center;
      background-color: $color-primary;
    }

    &:nth-child(1)::before {
      content: '1';
    }
    &:nth-child(2)::before {
      content: '2';
    }
    &:nth-child(3)::before {
      content: '3';
    }
  }

  &__icon {
    color: $color-icon;
    font-size: 1.125rem;

    &--primary {
      color: $color-primary;
      font-size: 1.125rem;
    }
  }

  &__p {
    font-weight: 500;
    font-size: $fontSize-section-title3;
  }
}

// Restaurants

.restaurants {
  background-color: $color-surface-container;
  width: 100%;
  padding: 3rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include desktop-only {
    padding: 1.88rem 11.25rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
    margin-bottom: 1.25rem;

    @include desktop-only {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3.12rem 6.25rem;
    }
  }
}

.restaurants-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.9375rem;
  overflow: hidden;
  @include desktop-only {
    flex: 1 0 30%;
  }

  &__label {
    position: absolute;
    top: 0.81rem;
    right: 0.75rem;
    background-color: $color-tertiary;
    box-shadow: $shadow-badge;
    border-radius: 0.125rem;
    width: 5rem;
    height: 1.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-tertiary-font;
    font-size: $fontSize-restaurant-label;
    font-weight: 500;
  }

  &__img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.56rem 0.75rem 0.84rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;

    &--title {
      font-size: $fontSize-paragraph;
      font-weight: 700;
    }
    &--p {
      font-size: 1.0625rem;
      font-weight: 300;
    }
  }
  &__like {
    position: absolute;
    bottom: 2.06rem;
    right: 1.56rem;
    display: flex;
  }

  &__button {
    width: 1.375rem;
    height: 1.3125rem;
  }
}
