.footer {
  background-color: $color-surface-dim;
  color: white;
  padding: 1.38rem 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include desktop-only {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 5rem;
    padding: 1.88rem 1.56rem;
  }

  &__title {
    font-family: $font-title;
    font-size: $fontSize-section-title2;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.44rem;

    @include desktop-only {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    &--li {
      display: flex;
      gap: 0.69rem;
    }

    &--icon-size {
      width: 1.25rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }

    &--color-weight {
      color: white;
      font-weight: 500;
      font-size: $fontSize-button;
    }

    &--color {
      color: white;
      font-weight: 400;
      font-size: $fontSize-button;
    }
  }
}
