.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-badge;
    position: relative;
  }
  &__title {
    margin: 0.875rem auto;
  }
  &__iconLink {
    margin: 0rem 1.06rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__iconBack {
    font-size: 1.88rem;
    display: flex;
    align-items: center;
  }
}

.location {
  height: 3.125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  background-color: $color-surface-dim2;

  &__text {
    font-weight: 500;
    font-size: 1rem;
  }
  &__icon {
    &--size {
      font-size: 1rem;
    }
  }
}
